body {
    background-color: #F2F2F2;
    font-family: 'Montserrat', sans-serif!important;
}
#header {
    color: #6C733D;
}

#block {
    text-justify: auto;
}
a {
    color: #6C8C3D!important;
}

a:visited {
    color: #D8D5A2!important;
}

h3.head {
    font-weight: 800;
    text-decoration: underline;
}