body {
    background-color: #F2F2F2;
}
#header {
    color: #6C733D;
}

p {
    text-align: justify;
    text-justify: auto!important;
}
a {
    color: #6C8C3D!important;
}

.bg-dark a:visited {
    color: lightgrey!important;
}

a.active {
    color: #D8D5A2!important;
}

.head {
    font-weight: 800;
    text-decoration: underline;
}

.btn-link {
    color: black!important;
}

table, th, td {
    border: 1px solid black;
}

td {
    width: 15%;
    vertical-align: top;
}

p.answer {
    font-style: italic;
}





* {box-sizing: border-box;}

.img-zoom-container {
  position: relative;
}

.img-zoom-lens {
  position: absolute;
  border: 1px solid #d4d4d4;
  /*set the size of the lens:*/
  width: 40px;
  height: 40px;
}

.img-zoom-result {
  border: 1px solid #d4d4d4;
  /*set the size of the result div:*/
  width: 300px;
  height: 300px;
}